<div class="footer">
  <div class="footer-left">
    Sign up and get free content every week.
    <input class="email-input" type="email" placeholder="Enter your email...">
    <button class="sign-up">Sign Up</button>
  </div>
  <div class="footer-right">
    Browse by categories
    <div>
      <span class="categories">Graphics</span>
      <span class="categories">PSDs</span>
      <span class="categories">Icons</span>
      <span class="categories">Templates</span>
      <span class="categories">Themes</span>
      <span class="categories">Addons</span>
      <span class="categories">Fonts</span>
      <span class="categories">Textures</span>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="social">
      <h4 class="section">Affiliates/Contributors/Press/Media/Careers/About/Contact</h4>
      <h6 class="copyright">Copyright © 2018 myCompany All rights reserved.</h6>
    </div>
    <div class="social right">
      <i class="fab fa-facebook"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-google"></i>
    </div>
  </div>

</div>
