.footer {
  max-width: 29.8%;
  height: 14rem;
  position: fixed;
  bottom: 0rem;
  background-color: #363b3e;
}

@media (max-width: 1024px) {
  .footer {
    max-width: 100%;
  }
}

.footer-left, .footer-right {
  font-size: 0.8rem;
  display: inline-block;
  max-width: 42%;
  color: #ffffff;
  vertical-align: text-top;
  padding: 1rem;
}

.email-input {
  width: 80%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  background: transparent;
  border-radius: 3px;
  border: thin solid #000000;
}

.sign-up {
  width: 90%;
  color: #ffffff;
  background-color: #2c88b5;
  height: 2rem;
  border-radius: 3px;
  border-color: #2c88b5;
}

.categories {
  font-size: 0.5rem;
  color: #777f84;
  display: inline-block;
  padding: 0.1rem 1rem 0.11rem 0;
}

.footer-bottom {
  height: 4rem;
  padding: 1rem;
  color: #8a949a;
  background-color: #ffffff;
}

.social {
  display: inline-block;
}

.social i {
  margin: 0.5rem;
}

.social.right {
  float: right;
  float: right;
  padding: 0.5rem;
  font-size: 1rem;
}

.section {
  font-size: 0.5rem;
}

.copyright {
  font-size: 0.3rem;
}
