<div class="container">
  <div class="gifs-output">
    <div class="gif-container" *ngFor="let result of results">
      <a href="result.images.downsized_medium.url" target="_blank">
        <img [src]="result.images.downsized_medium.url"
             [width]="result.images.downsized_small.width/3"
             [height]="result.images.downsized_small.height/3"
             [alt]="result.title"
             class="gif">
      </a>
    </div>
  </div>
</div>
