<div class="container">
  <h1 class="search-header">Gif Search</h1>
  <form (ngSubmit)="search(giphySearchInput)">
    <div class="search-box">
      <input type="text" class="search-input" placeholder="What are you looking for?"
             [(ngModel)]="giphySearchInput.giphySearchInput" name="searchText">
      <div class="search-filter">
        <ul>
          <li>Show All <i class="fa fa-caret-down"></i>
          </li>
        </ul>
      </div>
      <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
    </div>
    <h2 class="search-sub-header">You can search any gif with our search</h2>
    <p class="search-text">Everything you need for your creative projects. websites, banners, presentations, magazines and advertising.</p>
  </form>
</div>
