.container {
  background-color: #cc5c00;
  padding: 1rem;
}

.search-header, .search-sub-header, .search-text {
  font-family: ﻿interface, Helvetica Neue, helvetica, sans-serif;
  font-size: 1.1rem;
  color: rgba(247, 247, 247, 255);
  text-align: center;
}

.search-sub-header {
  font-size: 1rem;
}

.search-text {
  font-size: 0.8rem;
}

.search-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.search-input, .search-filter, .search-button  {
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.35rem 0.75rem;
  font-size: 0.3rem;
  text-decoration: none;
  max-height: 1rem;
}

.search-input {
  border-radius: 3px 0 0 3px;
  background: #E9E9E9;
  padding: 0.5rem;
  min-width: 40%;
}

.search-filter {
  background: #e2eef4;
}

.search-button {
  border-radius: 0 3px 3px 0;
  background: #000000;
  color: #ffffff;
  cursor: pointer;
  max-height: 1.7rem;
}

.search-filter ul {
  list-style-type: none;
  text-align: center;
  padding: 0.1rem;
  margin: 0.1rem;
}

.search-filter li {
  font-family: ﻿interface, Helvetica Neue, helvetica, sans-serif;
  font-size: 0.5rem;
  color: rgba(169, 190, 200, 255);
  text-align: left;
}

.search-button i {
  margin: 0.3rem;
}
